.search-field {
    /* this class is for input field, if in your code its different, just substitute the class name '.search-field' */
    padding: 10px 15px;
    min-width: 55%;
    font-size: 1rem;
    line-height: 1.5em;
    color: #373d41;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5c5c7;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    flex-grow: 1;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.search-submit {
    /* this class is for submit button, if in your code its different, just substitute the class name '.search-submit' */
    background-color: #1a1a1a;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    white-space: normal;
    -webkit-transition: none;
    transition: none;
    cursor: pointer;
    outline: 0;
    padding: 14px 24px 13px;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 6px;
    border-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.search-submit-centered {
    /* display: flex; */
    position: fixed;
    right: 5%;
    /* translate: -50%; */
    bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
.search-form .input-group {
    text-align: center;
}
.hidden {
    visibility: hidden;
}
.disabled {
    background-color: #c5c5c7;
}
