* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    background: black;
}

#search-box {
    position: absolute;
    top: 20%;
    font: inherit;
    padding: 8px;
    max-width: 320px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 3px dotted;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.title {
    font-size: 10vw;
    color: white;
}

canvas {
    width: 100%;
}

li,
ul {
    font-weight: 500;
    color: red;
    display: block;
    list-style: none;
    margin-bottom: 10px;
    padding: 0;
}
.name {
    font-weight: 500;
    color: white;
}
.card-name {
    font-weight: 700;
    font-size: 20px;
    color: white;
}
